.create-inv {
    margin-top: 300px;
    margin-left: 500px;
  
}

.add-btn {
    background-color: #3AD886;
    width: 425px;
    padding: 10px;
    margin-top: 20px;
}

.input-fields {
    width: 400px;
    padding: 10px;
}